/*
	Select a movie styles
*/

#mainPage {
  min-width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  /*	padding: 0;*/
  color: #fff;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
}

.transparentFab {
  background-color: transparent !important;
  box-shadow: none !important;
}

.greyFab {
  background-color: grey !important;
  /*box-shadow: none !important;*/
}

.fullPage {
  min-width: 100%;
  min-height: 100%;
}

.takeFileLabel {
  margin-left: 15%;
}

.takeFileLabel:hover {
  color: #66BB6A;
  cursor: pointer;
}

.movieList {
  min-width: 40%;
}

.movieList md-list {
  height: 300px;
  overflow-y: auto;
}

#movieInfo {
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  color: #fff;
}

#movieInfo #movieData {
  margin-left: 5%;
}
