<div id="mainPage" layout="column" md-theme="darkTheme" layout-align="start center">
    <section flex>
        <h1 class="md-display-1 myfont">fCinema</h1>
    </section>
    <section flex ng-controller="MainController as main">
        <md-input-container>
            <label>Search movie</label>
            <input size="30" ng-model="main.searchQuery" ng-keyup="$event.keyCode == 13 && main.searchTitle()">
        </md-input-container>
        <md-button class="md-primary md-raised" aria-label="Select a movie" ng-click="main.searchTitle()" class="md-button">Search</md-button>
        <br>
    </section>
    <section flex class="movieList" style="margin-top: -10%">
        <md-list>
            <md-list-item ng-repeat="movie in set.movieData.list" ng-click="set.searchId(movie.id)">
                <span style="position: relative; z-index: 1;">
                    <img style="width: 50px; margin-right: 16px;" ng-src="{{ movie.poster }}" />
                    <md-tooltip>{{movie.overview}}</md-tooltip>
                </span>
                <h4>{{ movie.title }} - {{ movie.year }}</h4>
                <!--<div class="md-list-item-text" layout="column">
                    <h3>{{ movie.title }} - {{ movie.year }}</h3>
                    <!- -<p>{{ movie.director }} - {{ movie.year }}</p>- ->
                </div>-->
            </md-list-item>
        </md-list>
        <br>
    </section>
    <section flex>
        <!--  &darr; Scroll down for more suggestions-->
    </section>
    <md-button class="md-fab md-fab-top-right transparentFab" aria-label="Settings" ng-click="openCommunity()" style="margin-right: 60px">
        <md-icon md-svg-src="./assets/img/community.svg" style="fill:white"></md-icon>
    </md-button>
    <md-button class="md-fab md-fab-top-right transparentFab" aria-label="Settings" ng-click="openSettings()">
        <md-icon md-svg-src="./assets/img/config.svg" style="fill:white"></md-icon>
    </md-button>
</div>