<div id="mainPage" layout="column" md-theme="darkTheme" layout-align="start center">
    <section>
        <h1 class="md-display-1">Settings</h1>
    </section>
    <md-content style="width:70%;" layout="row" layout-align="space-around center">
        <h4>What do you prefer?</h4>
        <div class="noClicks"><span three-state-checkbox ng-model="vtrue"></span>Filter active</div>
        <div class="noClicks"><span three-state-checkbox ng-model="vfalse"></span>No protection</div>
        <div class="noClicks"><span three-state-checkbox ng-model="vnull"></span>Ask per scene</div>
    </md-content>
    <md-content layout="row" style="width:70%" class="md-dense" layout="row">
        <md-list class="md-dense" layout="column" style="display: grid; grid-template-columns: 33% 33% 33%; width: 100%;">
            <md-list-item class="md-1-line" ng-repeat="tag in settings.tags" onclick="this.getElementsByTagName('span')[0].click()">
                <span three-state-checkbox ng-model="tag.action"></span>
                <div class="md-list-item-text" layout="column">{{tag.name}}</div>
                <md-tooltip md-delay="2000">{{tag.long}}</md-tooltip>
            </md-list-item>
        </md-list>
    </md-content>
    <flex flex="5"></flex>
    <section flex style="width:70%" layout="row" layout-align="space-between center">
        <md-input-container>
            <label>Country</label>
            <md-select ng-model="settings.language">
                <md-option ng-repeat="region in config.possibleRegions" value="{{region.identifier}}">
                    {{region.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-switch ng-model="settings.editors_view" aria-label="Editor mode">
            Editor's mode
        </md-switch>
        <md-input-container flex="66">
            <label>Custom providers</label>
            <input type="text" ng-model="settings.default_providers" placeholder="Custom"/>
        </md-input-container>
    </section>
    <section flex layout="row" layout-align="space-between center" style="margin-left: 90%;">
        <span style="font-size: 1rem;color:#fff;">v{{appVersion}}</span>
    </section>
    <md-button class="md-fab md-fab-top-left transparentFab" aria-label="Settings" ng-click="closeSettings()">
        <md-icon md-svg-src="./assets/img/back.svg" style="fill:white"></md-icon>
    </md-button>
</div>