<md-dialog layout="column" md-theme="darkTheme">
    <md-dialog-content>
        <md-content layout="row" layout-padding>
            <md-input-container flex="17">
                <label>Start</label>
                <input type="number" step=".04" ng-model="scene.start" placeholder="second" onchange="go_to_frame( this.value )" />
            </md-input-container>
            <md-input-container flex="17">
                <label>End</label>
                <input type="number" step=".04" ng-model="scene.end" placeholder="second" onchange="go_to_frame( this.value )" />
            </md-input-container>
            <md-input-container flex="66">
                <label>Comment</label>
                <input type="text" ng-model="scene.comment" placeholder="Short comment" />
                <br>
            </md-input-container>
        </md-content>
        <md-content style="margin-top: -50px" layout="row" layout-padding>
            <label>Tags</label>
            <md-input-container flex style="width: 100%">
                <md-select ng-model="selectedTags" multiple>
                    <md-optgroup label="Sex">
                        <md-option ng-value="tag" ng-repeat="tag in tagsSex |filter:searchTerm" aria-label="Select Tags">{{tag}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Violence">
                        <md-option ng-value="tag" ng-repeat="tag in tagsVio |filter:searchTerm" aria-label="Select Tags">{{tag}}</md-option>
                    </md-optgroup>
                    <md-optgroup label="Others">
                        <md-option ng-value="tag" ng-repeat="tag in tagsOth |filter:searchTerm" aria-label="Select Tags">{{tag}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="backToList()">Cancel</md-button>
        <span style="flex: 1 1 auto"></span>
        <md-button ng-click="remove()">Delete</md-button>
        <md-button ng-click="shareEditedScene($event)">Share</md-button>
        <md-button ng-click="preview()">Preview</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Save</md-button>
    </md-dialog-actions>
</md-dialog>
