<div id="mainPage" layout="column" md-theme="darkTheme" layout-align="center center" ng-style="film.css">
	
	<section flex></section>

	<section layout="row" flex style="margin-left: 10%; margin-right: 10%">
		<img ng-src="{{film.movieData.images.posters[0]}}" alt="Film Poster" height="450px">
		<section layout="column" style="margin-left: 10%;" layout-align="space-around start">
			<span>
				<span class="md-headline">{{film.movieData.metadata.title}}</span>
				<br>
				<span class="md-caption">{{film.movieData.metadata.released}}  &bull;  {{film.movieData.metadata.runtime}}  &bull;  {{film.movieData.metadata.genres}}  &bull;  {{film.movieData.metadata.imdbRating}}/10</span>
				<p class="md-body-1">{{film.movieData.metadata.plot}}</p>
			</span>

			<span style="width: 100%">
				<md-list>
					<md-list-item class="md-2-line" ng-repeat="scene in film.movieData.scenes" ng-click="editScene($index, $event)">
						<md-checkbox ng-model="scene.skip"></md-checkbox>
						<div class="md-list-item-text" layout="column">
							<h3>{{ scene.start | time:scene.end }}s at {{ scene.start | minutes }}min OF {{ scene.tags | tags }}</h3>
							<p>{{ scene.comment }}</p>
						</div>
					</md-list-item>
				</md-list>
			</span>

			<md-button class="md-primary md-raised" ng-click="film.showListBottomSheet()">Play</md-button>
		</section>
	</section>

	<section flex></section>

</div>
