<html style="overflow-y: hidden;">
	<head></head>
	<body style="margin: 0px">
		<webview src="https://www.netflix.com/browse" autosize="on" style="height: 100%;" preload="../realtimeVideoController.js" plugins></webview>
	</body>
	<script type="text/javascript">

	const webview = document.getElementsByTagName('webview')[0]
  		webview.addEventListener('ipc-message', event => {
	    console.log(event.channel,event.args[0])
  	})
		/*
		electron = require('electron');
  		utils = electron.remote.require('../../utils');




var video, skip, mode, fast_rate;

window.onload = function () {
  video = document.getElementsByTagName("video")[0]
  skip  = get_skip_list();
  mode  = detect_mode();
  video.onseeked = check_status;
  fast_rate = 8;
  check_status()
}


function get_skip_list() {
  var skip = []
  for (var i = 20; i >= 0; i--) {
    skip.push({start:i*30+5,end:i*30+25})
  }
  return skip;
}


function detect_mode() {
  var url = window.location.href 
  if ( url.indexOf("netflix") != -1  ) {
    return 3
  } else if ( url.indexOf("amazon") != -1  ) {
    return 2
  } else {
    return 1
  }
}

function edl_check( ) {
  if ( video.muted ) console.log("this would crash!!!")
  var time = video.currentTime
  var first_ok  = 0
  var first_bad = 24*60*60
  for (var i = skip.length - 1; i >= 0; i--) {
    var start = skip[i].start
    var end   = skip[i].end
    if ( time > end ) continue;
    first_bad = Math.min(first_bad,start)
    if ( time < start ) continue;
    first_ok  = Math.max(first_ok,end)
  }
  if ( first_ok == 0 ) {
    return { status:"ok",first_bad:first_bad}
  } else {
    return { status:"bad",first_ok:first_ok}
  }
}

function check_status() {
  var status = edl_check()
  if ( status.status == "ok") {
    show_until( status.first_bad )
  } else {
    hide_until( status.first_ok )
  }
}

function hide_until( time ) {
  if ( mode != 3 ) {
    video.currentTime = time // this will automatically call check_status when seeking is finished
  } else {
    var now  = video.currentTime
    console.log( "hide until ",time, " now is", now )
    if ( now > time ) {
      css_show();
      check_status(); // Check status if we have already pass the "bad" point
    } else {
      var rate = (time-now<1)? 1 : 8
      css_hide( rate )
      setTimeout(hide_until.bind(null,time), toms(time-now,8) ); // call hide_until again after 1/8th, see if we have pass already the time
    }
  }
}

function toms( time, factor ){
  console.log( "checking again in ", time, factor )
  return time*1000/factor
}

function show_until( time ) {
  setTimeout(check_status, toms(time-video.currentTime, 2) ); // Check half way just in case
  if ( mode == 3 && video.muted ) css_show()
}

function css_show() {
  console.log( "Unhiding player ")
  video.playbackRate = 1;
  video.style.visibility = 'visible';
  video.muted = false;
}

function css_hide( rate ) {
  console.log( "Hiding player ", rate )
  video.playbackRate = rate;
  video.style.visibility = 'hidden';
  video.muted = true;
}


function focus_video(argument) {
// remove all video elements but ours (to make sure we are controlling the right one)
  var video_list =  document.getElementsByTagName("video")
  for (var i = video_list.length - 1; i >= 1; i--) {
    video_list[i].parentElement.removeChild(video_list[i]);
  }
// hide all page but our video  
  document.body.style.visibility = "hidden"
  video.style = "position: fixed; right: 0; bottom: 0; max-width: 100%; max-height: 100%;  width: auto; height: auto; z-index: 999;   background: #FFFFF;  background-size: cover; visibility:visible;" 
// hide all iframes (seem to ignore the body visibility hidden)
  var iframes = document.querySelectorAll("iframe");
  for (var i = 0; i < iframes.length; i++) {
    iframes[i].style.visibility = 'hidden';
  }
}


function get_video_rect () {
  var video_rect   = video.getBoundingClientRect();
  var video_ratio  = video.videoWidth/video.videoHeight
  var display_ratio= video.offsetWidth/video.offsetHeight
  if ( video_ratio > display_ratio ) {
    var w = video.offsetWidth
    var h = video.offsetWidth/video_ratio
    var t = video_rect.top + (video.offsetHeight-h)/2
    var l = video_rect.left    
  } else {
    var w = video.offsetHeight*video_ratio
    var h = video.offsetHeight
    var t = video_rect.top
    var l = video_rect.left + (video.offsetWidth-w)/2    
  }
  return {t:t,l:l,w:w,h:h}
}

function reshape(rect) {
  var box = document.getElementById('box')
  box.style = "position: fixed; left:"+rect.l+"px; top:"+rect.t+"px; width:"+rect.w+"px; height:"+rect.h+"px; border: 3px solid #73AD21;"
}*/
	</script>
</html>