<md-dialog layout="column" md-theme="darkTheme" style="width: 800px">
    <div ng-show="menu==0">
        <md-dialog-content>
            <md-content layout="row" layout-padding style="max-height: 400px">
                <div style="width: 100%">
                    <md-list class="md-dense" flex>
                        <md-list-item class="md-2-line" ng-repeat="scene in scenes">
                            <div class="md-list-item-text" layout="column">
                                <h3>
                                <b ng-show="scene.local && !scene.removed" style="color:#393">(Locally edited)</b>
                                <b ng-show="scene.local && scene.removed" style="color:#933">(Locally removed)</b>
                                <b ng-show="scene.globallyremoved" style="color:#933">(Globally removed)</b>
                                <b>{{ scene.tags | tags }}</b>
                                <i>({{ scene.start | seconds:scene.end }})</i></h3>
                                <p>{{ scene.comment }}</p>
                            </div>
                            <md-icon class="md-secondary" ng-show="scene.edited" ng-click="uploadScene($index)" aria-label="Share" md-svg-icon="./assets/img/upload.svg"></md-icon>
                            <md-icon ng-hide="nopreview" class="md-secondary" ng-click="previewScene($event,$index)" aria-label="Preview" md-svg-icon="./assets/img/preview.svg"></md-icon>
                            <md-icon class="md-secondary" ng-click="openEditDialog($index)" aria-label="Edit" md-svg-icon="./assets/img/edit.svg"></md-icon>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button aria-label="Close" ng-click="hideDialog()">Close</md-button>
            <span style="flex: 1 1 auto"></span>
            <md-button aria-label="Tagged" ng-click="openTaggedDialog()">Tagged</md-button>
            <md-button aria-label="dumpToFile" ng-click="dumpToFile()" ng-show="isDumpable">Dump to file</md-button>
        </md-dialog-actions>
    </div>
    <div ng-show="menu==1">
        <md-dialog-content>
            <md-content layout="row" layout-padding>
                <md-input-container flex="17">
                    <label>Start</label>
                    <input type="time" step=".04" placeholder="second" ng-model="startTime" ng-change="timeChanged('start')" required ng-disabled="cantedit" />
                </md-input-container>
                <md-input-container flex="17">
                    <label>End</label>
                    <input type="time" step=".04" placeholder="second" ng-model="endTime" ng-change="timeChanged('end')" required ng-disabled="cantedit" />
                </md-input-container>
                <md-input-container flex="66">
                    <label>Comment</label>
                    <input type="text" ng-model="comment" placeholder="Short comment" />
                    <br>
                </md-input-container>
            </md-content>
            <md-content style="margin-top: -50px" layout="row" layout-padding>
                <label>Tags</label>
                <md-input-container flex style="width: 100%">
                    <md-select ng-model="selectedTags" multiple>
                        <div style="width: 100%; grid-template-columns: 33% 33% 33%; display:grid">
                            <md-option style="height: 42px;" ng-value="tag.name" ng-repeat="tag in tags" aria-label="Select Tags">{{tag.name}}
                            </md-option>
                        </div>
                    </md-select>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="openListDialog()">Cancel</md-button>
            <span style="flex: 1 1 auto"></span>
            <md-button ng-click="removeScene()">Delete</md-button>
            <!--<md-button ng-click="uploadCurrent()">Share</md-button>-->
            <md-button ng-show="cantedit" ng-click="enableEdition()">Enable edit</md-button>
            <md-button ng-hide="nopreview" ng-click="previewCurrent($event)">Preview</md-button>
            <md-button ng-click="saveEdition()" class="md-primary">Save</md-button>
        </md-dialog-actions>
    </div>
    <div ng-show="menu==2">
        <md-dialog-content>
            <md-content layout="column" class="md-padding">
                <h4>Tick if all scenes of a type are tagged</h4>
                <md-list class="md-dense" style="display: grid; grid-template-columns: 33% 33% 33%; width: 100%;">
                    <md-list-item class="md-1-line" ng-repeat="tag in tagStatus" style="height: 25px; font-size: 15px" >
                        <md-checkbox aria-label="tagStatus" ng-model="tag.done"></md-checkbox>
                        <b class="md-list-item-text">{{ tag.name }}</b>
                        <md-tooltip md-delay="1000">{{tag.long}}</md-tooltip>
                    </md-list-item>
                </md-list>
                <md-input-container>
                    <textarea name="extra" ng-model="extra" placeholder="Other comments"></textarea>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button aria-label="Back" ng-click="openListDialog()">Back</md-button>
            <span style="flex: 1 1 auto"></span>
            <md-button aria-label="updateTagged" ng-click="updateTagged()" class="md-primary">Share</md-button>
        </md-dialog-actions>
    </div>
</md-dialog>