<md-dialog layout="column" md-theme="darkTheme">
    <md-dialog-content>
        <md-content layout="row" layout-padding>
            <div style="width: 100%">
                <h3>Are all scenes tagged?</h3>
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line" ng-repeat="tag in tagStatus">
                        <div class="md-list-item-text" layout="column">
                            <b>{{ tag.name }}</b>
                        </div>
                        <md-checkbox ng-model="tag.done"></md-checkbox>
                        <!--<md-icon class="md-secondary" ng-show="scene.edited" ng-click="shareScene($index,$event)" aria-label="Share" md-svg-icon="./assets/img/upload.svg"></md-icon>-->
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="share()">Share</md-button>
    </md-dialog-actions>
</md-dialog>
