<md-dialog layout="column" md-theme="darkTheme" style="width: 800px">
    <md-dialog-content>
        <md-content layout="row" layout-padding>
            <div style="width: 100%">
                <md-list class="md-dense" flex>
                    <md-list-item class="md-2-line" ng-repeat="scene in scenes">
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                <b style="color:green">{{ scene.diffTag.added | tags }}</b>
                                <b style="color:red">{{ scene.diffTag.removed | tags }}</b>
                                <b>{{ scene.diffTag.same | tags }}</b>
                                <i>({{ scene.start | seconds:scene.end }})</i></h3>
                            <p>{{ scene.comment }}</p>
                        </div>
                        <md-icon class="md-secondary" ng-show="scene.edited" ng-click="shareScene($index,$event)" aria-label="Share" md-svg-icon="./assets/img/upload.svg"></md-icon>
                        <md-icon class="md-secondary" ng-click="previewScene($index,$event)" aria-label="Preview" md-svg-icon="./assets/img/preview.svg"></md-icon>
                        <md-icon class="md-secondary" ng-click="closeAndEditScene($index, $event)" aria-label="Edit" md-svg-icon="./assets/img/edit.svg"></md-icon>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="dumpToFile()" style="display:{{isDumpable}};">Dump to file</md-button>
    </md-dialog-actions>
</md-dialog>
