<h1> TEST </h1><md-content class="select">
	<md-button aria-label="Select a movie" ng-click="main.get_id_from_file()" class="md-button">IDFromFile</md-button>
	<md-button aria-label="Select a movie" ng-click="main.get_content_by_id()" class="md-button">ContentByID</md-button>
	<md-button aria-label="Select a movie" ng-click="main.get_offset_with_reference()" class="md-button">OffsetFromRef</md-button>
	<md-button aria-label="Select a movie" ng-click="main.get_available_players()" class="md-button">AvailablePlayers</md-button>
	<md-button aria-label="Select a movie" ng-click="main.play()" class="md-button">Play</md-button>
	<md-button aria-label="Select a movie" ng-click="main.preview()" class="md-button">Preview</md-button>
	<md-button aria-label="Select a movie" ng-click="main.get_current_time()" class="md-button">CurrentTime</md-button>
	<md-button aria-label="Select a movie" ng-click="main.get_thumbnails()" class="md-button">Thumbnails</md-button>
	<md-button aria-label="Select a movie" ng-click="main.get_sync_reference()" class="md-button">SyncReference</md-button>
</md-content>