<webview src="{{file}}" class="fullPage" preload="./assets/js/webview.js" plugins ng-mousemove="mouseActive()" id="webview"></webview>

<md-button class="md-fab md-fab-top-right greyFab md-mini" aria-label="Back" ng-click="backToMenu($event)" ng-show="show_buttons" style="background-color: {{health_color}} !important; margin-right: 110px;">
    <md-icon md-svg-src="./assets/img/back.svg"></md-icon>
</md-button>
<md-button class="md-fab md-fab-top-right greyFab md-mini" aria-label="Edit" ng-click="editScene($event,'list')" ng-show="show_buttons" style="background-color: {{health_color}} !important;">
    <md-icon md-svg-src="./assets/img/movie.svg"></md-icon>
</md-button>

<md-button class="md-fab md-fab-top-right greyFab md-mini" aria-label="Edit" ng-click="markTime()" ng-show="show_buttons" style="background-color: {{health_color}} !important; margin-right: 60px;">
    <md-icon md-svg-src="./assets/img/cut.svg"></md-icon>
</md-button>
