<webview src={{stream.src}} class="fullPage" preload="./assets/js/webview.js" style="filter: blur({{webview_blur}}px);" plugins ng-mousemove="show_buttons(true)"></webview>

<md-button class="md-fab md-fab-top-left greyFab md-mini" aria-label="Back" ng-click="backToFilm($event)" ng-show="back_menu" style="background-color: {{stream.health_color}} !important;">
    <md-icon md-svg-src="./assets/img/back.svg"></md-icon>
</md-button>
<md-button class="md-fab md-fab-top-right greyFab md-mini" aria-label="Edit" ng-click="editScene($event,'list')" ng-show="editors_menu" style="background-color: {{stream.health_color}} !important;">
    <md-icon md-svg-src="./assets/img/movie.svg"></md-icon>
</md-button>

<md-button class="md-fab md-fab-top-right greyFab md-mini" aria-label="Edit" ng-click="markTime()" ng-show="editors_menu" style="background-color: {{stream.health_color}} !important; margin-right: 60px;">
    <md-icon md-svg-src="./assets/img/cut.svg"></md-icon>
</md-button>
